* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.serif {
  font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  text-transform: capitalize;
}

.covered-img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}
